/* 
  When we are working with pixels, margin is space from the div up and padding is space from the div down
*/
header{
  background-color: blue;
  min-height: 400px;
  color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./headerPict.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

/*
  the header > * means target anything within the header and make it 1 since the surroundings is 0
  therefore, the words pict and everything else would be more "highlighted"
*/

header > * {
  z-index: 10;
}

header::before{
  content: "";
  position: absolute;
  /* 
  For position to be absolute of he header, the header must be position relative
  This will make sure the thing does not cover the entire page
  */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 , 0 , 0.7, 0.3)
}


.profile-image{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  background-image: url(./profilePict.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.25s ease; /* This is to make the post hover less rigidly*/
}

.profile-image:hover{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  background-image: url(./profilePict.jpg);
  background-size: cover;
  background-position: center;
  border: 4px aqua solid;
}

.profile-name{
  font-size: 3em;
  font-weight: bold;
}

.subtext{
  margin-top: 8px;
}

.main{
  margin-top:32px;
  display: flex;
  justify-content: center;
}

/*
    Width is 100% of the main-container div
    the min and max width makes the page be able to stretch left and right abit
    Abit like a pseudo media query?
    
*/

.main-container{
  /*
    All the blog post will be centered inside this main-container with a padding of 16px left and right
    The 16px will mean that the words will never be at the very edge on the left or right of the .main-container div
  */
  max-width: 750px;
  min-width: 600px;
  padding-left: 16px;
  padding-right:16px;
}

footer{
  min-height: 100px;
  background-color: #eaecee70;
  color: #929eaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
}

.post{
  display: flex;
  border: 1px #eaecee solid;
  border-radius: 8%;
  min-height: 200px;
  /*For the picture, it might overflow out of the border radius that we set, so this will solve it*/
  overflow: hidden;
  transition: 0.25s ease; /* This is to make the post hover less rigidly*/
  cursor: pointer;
  box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
  margin: 10px;
  
}

.post:hover{
  transform: translate3d(0px, -5px, 0px); /* -5px to move up*/
  background-color: pink;
}

.post-image{
  /* Flex basis ensures that the post image only takes up 40% of the entire .post div container leaving the 
     remaining 60% for the title, date and text
  */
  flex-basis: 40%;
  /*background-image: url(./musicPict.jpg);*/
  background-size: cover;
  background-position: center;
}

.post-content{
  flex-basis: 60%;
  padding: 24px;
}

.post-date{
  font-size: 12px;
  color: #adb5bd;
  font-weight: 600;
  
}

.post-title{
  margin-top: 16px;
  font-size: 1.5em;
  color: #333;
  font-weight: 600;
}

.post-text{
  margin-top:4px;
  color: #495057;
  font-weight: 400;
  line-height: 1.4;
  max-height: 65px;
  overflow: hidden; /*40px and 60px got no difference because the text is overflowing anyways so we put this*/
}